<style>
  img{
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }
  .row {
    margin-top: 20px;
    text-align: center;
  }
  .click:hover {
    background-color: #e74c3c;
    border-radius: 50px;
  }
</style>

<div class="row">
  <% @teams.each do |team| %>
  <div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="<%= team.logo %>">
    <div class="caption">
      <h2 class="click"><%= link_to team.name, "/teams/#{team.id}" %></h2>
      <p><%= team.league.name %></p>
      <p><%= team.sport.name %></p>
    </div>
  </div>
  </div>
  <% end %>
</div>