<style>
  .thumbnail{
    width: 250px;
    height: 250px;
    text-align: center;
  }
  .bar-name{
    font-weight: bold;
  }
  h2:hover {
    background-color: #e74c3c;
    border-radius: 40px;
  }

  #bar-icon{
    margin-top: 40px;
  }
  #pushdown{
    margin-top: 10px;
  }
  .sorry{
    margin-top: 10px;
    color: white;
    text-align: center;
  }
</style>

<div class="row" id="pushdown">
<% @bars.each do |bar| %>
  <div class="col-md-6 col-md-3">
    <div class="thumbnail">
      <img id="bar-icon" src="<%= bar.icon %>">
      <div class="caption">
        <h2 class"bar-name"><%= link_to bar.name, "/bars/#{bar.id}" %></h2>
        <p><%= bar.address %></p>
      </div>
    </div>
  </div>
<% end %>
</div>