<style>
  .thumbnail{
    width: 250px;
    height: 250px;
    text-align: center;
  }
  .bar-name{
    font-weight: bold;
  }
  h2:hover {
    background-color: #e74c3c;
    border-radius: 40px;
  }

  #bar-icon{
    margin-top: 40px;
  }
  #pushdown{
    margin-top: 10px;
  }
</style>

<div style="height: 500px; width: 500px;"id="map"></div>

<div class="row" id="pushdown">
<% @bars.each do |bar| %>
  <div class="col-md-6 col-md-3">
    <div class="thumbnail">
      <img id="bar-icon" src="<%= bar.icon %>">
      <div class="caption">
        <h2 class"bar-name"><%= link_to bar.name, "/bars/#{bar.id}" %></h2>
        <p><%= bar.address %></p>
      </div>
    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
  var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
</script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3OZx7Ka5cu3nD10cSC2kaT5Ltb4jftk0&callback=initMap">
</script>

