<h1>All da bars</h1>

<div style="height: 500px; width: 500px;"id="map"></div>

<% @bars.each do |bar| %>
  <h2><%= link_to bar.name, "/bars/#{bar.id}" %></h2>
  <p><%= bar.address %></p>
  <img src="<%= bar.icon %>">
<% end %>

<script type="text/javascript">
  var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
</script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3OZx7Ka5cu3nD10cSC2kaT5Ltb4jftk0&callback=initMap">
</script>

