<h1>Show me a check_in</h1>

<p>User email: <%= @check_in.user.email %></p>
<p>Bar Name: <%= @check_in.bar.name %></p>
<p>Game ID: <%= @check_in.game_id.team_1_id.name %></p>
<p>Sport: <%= @check_in.sport.name %></p>