<style>
  body{
    text-align: center;
  }
  h1{
    color: white;
  }
  .form-header{
    margin-top: 100px;
  }
  button{
    margin-top: 20px;
  }
  select{
    width: 250px;
    font-size: 40px;
  }
</style>

<h1 class="form-header">One more thing...we promise!</h1>
<h1>Who are you cheering for?</h1>
<form name="myForm">
  <label for="singleSelect"> Single select: </label><br>
    <select name="singleSelect" ng-model="selectedTeam" name="team_id" id="team_id">
      <span ng-repeat="checkIn in checkIns">
        {{checkIns[checkIns.length - 1]}}
      </span>
      <option value="{{checkIns[checkIns.length - 1].team_1_id}}" name"team_id" id="team_id">{{ checkIns[checkIns.length - 1].team_1 }}</option>
      <option value="{{checkIns[checkIns.length - 1].team_2_id}}" name"team_id" id="team_id">{{ checkIns[checkIns.length - 1].team_2 }}</option>
    </select><br>
    <div>
  <button class="btn btn-success" ng-click="addTeamCheckIn(selectedTeam)">Check In!</button>
</div>
</form>
