<!DOCTYPE html>
<html>
<head>
  <title>It's On!</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Boomerang 2 - MultiPurpose Template</title>

    <!-- Essential styles -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="/css/global-style-bw.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="/images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Required JS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
</head>
<body>
  <div class="body-wrapper">
    <div class="container"></div>
    <div id="divHeaderWrapper">
    <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="/">IT'S ON!</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    
                    <li>
                        <a href="/bars">Bars</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">NFL</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="homepage-estate-1.html">Homepage</a></li>
                                    <li><a tabindex="-1" href="estate-listing-1.html">Listing: List </a></li>
                                    <li><a tabindex="-1" href="estate-listing-2.html">Listing: Grid</a></li>
                                    <li><a tabindex="-1" href="estate-property.html">Property</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">NBA</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="homepage-jobs-1.html">Homepage</a></li>
                                    <li><a tabindex="-1" href="jobs-listing-1.html">Jobs listing</a></li>
                                    <li><a tabindex="-1" href="job-description-1.html">Job description</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">NHL</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="homepage-jobs-1.html">Homepage</a></li>
                                    <li><a tabindex="-1" href="jobs-listing-1.html">Jobs listing</a></li>
                                    <li><a tabindex="-1" href="job-description-1.html">Job description</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Newsletter template</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Default</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-1.html" target="_blank">Newsletter Default: Red</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-2.html" target="_blank">Newsletter Default: Purple</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-3.html" target="_blank">Newsletter Default: Blue</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-4.html" target="_blank">Newsletter Default: Green</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-5.html" target="_blank">Newsletter Default: Yellow</a></li>
                                            <li><a tabindex="-1" href="newsletter/default/newsletter-default-6.html" target="_blank">Newsletter Default: Orange</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Flat</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-1.html" target="_blank">Newsletter Flat: Alizarin</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-2.html" target="_blank">Newsletter Flat: Amethyst</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-3.html" target="_blank">Newsletter Flat: Belize Hole</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-4.html" target="_blank">Newsletter Flat: Emerald</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-5.html" target="_blank">Newsletter Flat: Sun Flower</a></li>
                                            <li><a tabindex="-1" href="newsletter/flat/newsletter-flat-6.html" target="_blank">Newsletter Flat: Carrot</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a tabindex="-1" href="#">Shop</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-1.html" target="_blank">Newsletter Shop: Red</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-2.html" target="_blank">Newsletter Shop: Purple</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-3.html" target="_blank">Newsletter Shop: Blue</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-4.html" target="_blank">Newsletter Shop: Green</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-5.html" target="_blank">Newsletter Shop: Yellow</a></li>
                                            <li><a tabindex="-1" href="newsletter/shop/newsletter-shop-6.html" target="_blank">Newsletter Shop: Orange</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Components</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="wp-accordion.html">Accordion</a></li>
                                    <li><a tabindex="-1" href="wp-alerts.html">Alerts</a></li>
                                    <li><a tabindex="-1" href="wp-badges.html">Badges</a></li>
                                    <li><a tabindex="-1" href="wp-blocks-default.html">Blocks</a></li>
                                    <li><a tabindex="-1" href="wp-buttons-boomerang.html">Buttons</a></li>
                                    <li><a tabindex="-1" href="wp-callouts.html">Callouts</a></li>
                                    <li><a tabindex="-1" href="wp-carousels.html">Carousels</a></li>
                                    <li><a tabindex="-1" href="wp-counters.html">Counters</a></li>
                                    <li><a tabindex="-1" href="wp-pagination.html">Pagination</a></li>
                                    <li><a tabindex="-1" href="wp-progress-bars.html">Progress bars</a></li>
                                    <li><a tabindex="-1" href="wp-range-sliders.html">Range sliders</a></li>
                                    <li><a tabindex="-1" href="wp-rating-stars.html">Rating stars</a></li>
                                    <li><a tabindex="-1" href="wp-ribbons.html">Ribbons</a></li>
                                    <li><a tabindex="-1" href="wp-tabs.html">Tabs</a></li>
                                </ul>
                            </li> 
                            <li><a href="wp-typography-general.html">Typography</a></li>
                            <li><a href="wp-features.html">Features</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                        <ul class="dropdown-menu">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Gallery with no space</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-two-col-boxed.html">Two columns grid: Boxed</a></li>
                                                <li><a href="portfolio-three-col-boxed.html">Three columns grid: Boxed</a></li>
                                                <li><a href="portfolio-four-col-boxed.html">Four columns grid: Boxed</a></li>
                                                <li><a href="portfolio-two-col-fluid.html">Two columns grid: Fluid</a></li>
                                                <li><a href="portfolio-three-col-fluid.html">Three columns grid: Fluid</a></li>
                                                <li><a href="portfolio-four-col-fluid.html">Four columns grid: Fluid</a></li>
                                                <li><a href="portfolio-five-col-fluid.html">Five columns grid: Fluid</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Gallery with space n/text</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-two-col-space-boxed.html">Two columns grid: Boxed</a></li>
                                                <li><a href="portfolio-three-col-space-boxed.html">Three columns grid: Boxed</a></li>
                                                <li><a href="portfolio-four-col-space-boxed.html">Four columns grid: Boxed</a></li>
                                                <li><a href="portfolio-two-col-space-fluid.html">Two columns grid: Fluid</a></li>
                                                <li><a href="portfolio-three-col-space-fluid.html">Three columns grid: Fluid</a></li>
                                                <li><a href="portfolio-four-col-space-fluid.html">Four columns grid: Fluid</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mega-nav-section-wr">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Gallery with space w/ text</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-two-col-text-boxed.html">Two columns grid with text</a></li>
                                                <li><a href="portfolio-three-col-text-boxed.html">Three columns grid with text</a></li>
                                                <li><a href="portfolio-four-col-text-boxed.html">Four columns grid with text</a></li>
                                                <li><a href="portfolio-two-col-header-boxed.html">Two columns grid with header</a></li>
                                                <li><a href="portfolio-three-col-header-boxed.html">Three columns grid with header</a></li> 
                                                <li><a href="portfolio-four-col-header-boxed.html">Four columns grid with header</a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-nav-section">
                                            <h3 class="mega-nav-section-title">Single project</h3>
                                            <ul class="mega-nav-ul">
                                                <li><a href="portfolio-single-project-horizontal.html">Single project: Horizontal</a></li>
                                                <li><a href="portfolio-single-project-vertical.html">Single project: Vertical</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-grid-1.html">Blog: Grid one column</a></li>
                            <li><a href="blog-grid-2.html">Blog: Grid two columns</a></li>
                            <li><a href="blog-list-1.html">Blog: List one</a></li>
                            <li><a href="blog-fluid-1.html">Blog: Full width </a></li>
                            <li><a href="blog-masonry-1.html">Blog: Masonry w/ sidebar</a></li>
                            <li><a href="blog-masonry-2.html">Blog: Masonry three columns</a></li>
                            <li><a href="blog-masonry-3.html">Blog: Masonry four colums</a></li>
                            <li><a href="blog-post-1.html">Post: Standard</a></li>
                            <li><a href="blog-post-2.html">Post: Full width</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="homepage-shop-1.html">Homepage</a></li>
                            <li><a href="shop-product-list-1.html">Products: Full width</a></li>
                            <li><a href="shop-product-list-2.html">Products: With sidebar</a></li>
                            <li><a href="shop-product-single.html">Single product</a></li>
                            <li><a href="shop-cart.html">Cart</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Checkout progress</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="shop-checkout-method.html">Checkout: Login-Register</a></li>
                                    <li><a tabindex="-1" href="shop-checkout-shipping.html">Checkout: Shipping</a></li>
                                    <li><a tabindex="-1" href="shop-checkout-payment.html">Checkout: Payment method</a></li>
                                    <li><a tabindex="-1" href="shop-checkout-order.html">Checkout: Order review</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Invoice</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="invoice-1.html">Invoice: New</a></li>
                                    <li><a tabindex="-1" href="invoice-2.html">Invoice: Paid</a></li>
                                    <li><a tabindex="-1" href="invoice-3.html">Invoice: Unpaid</a></li>
                                </ul>
                            </li>
                            <li><a href="user-account.html">User account</a></li>                            
                        </ul>
                    </li>
                </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        
</div>

  </div>
<%= yield %>
<!-- Essentials -->
<script src="/js/modernizr.custom.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/js/jquery.easing.js"></script>
<script src="/js/jquery.metadata.js"></script>
<script src="/js/jquery.hoverup.js"></script>
<script src="/js/jquery.hoverdir.js"></script>
<script src="/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="/assets/ui-kit/js/cusel.min.js"></script>
<script src="/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="/assets/mixitup/jquery.mixitup.js"></script>
<script src="/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/assets/waypoints/waypoints.min.js"></script>
<script src="/assets/milestone-counter/jquery.countTo.js"></script>
<script src="/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="/assets/social-buttons/js/rrssb.min.js"></script>
<script src="/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="/assets/owl-carousel/owl.carousel.js"></script>
<script src="/assets/bootstrap/js/tooltip.js"></script>
<script src="/assets/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->

<!-- Boomerang App JS -->
<script src="/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp -- You can remove this once you started to work on your project -->

</body>
</html>
